body{
    color: white;
    background-color: black;
}

header{
    position: fixed;
    width: 100%;
    z-index: 10;
}

nav{
    padding: 30px
}

.navigation{
    position: relative;
    
}

#logo{
    width: 210px;
    height: 26px;
    color: white;
}

#logo .fill-white{
    fill: white;
}

a{
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-family: "Arial";
    font-weight: bold;
    font-size: 14px;
}

a:hover{
    text-decoration: underline;
}

#shop{
    position: absolute;
    top: 14px;
    right: 30px;
}

#heading{
    text-align: center;
    margin: auto;
    width: 70%;
    padding: 15%;
    background-image: url(images/rocket_.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-size: 80px;
    margin-bottom: 10px;
}

#heading> h2{
    font-size: 25px;
    font-weight: normal;
    margin-top: 10px;
}

.info{
    text-align: center;
    margin-top: 30px;
}

.stats{
    display: inline-block;
    margin: 0 85px;
}

.stats span{
    font-size: 140px;
}

.stats div{
    font-size: 22px;
}

#section_2{
    background-image: url(images/rocket_2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 750px;
}

.paragraph_wrapper>p{
    width: 50%;
    max-width: 520px;
    font-weight: 400;
    font-style: normal;
    margin-left: 100px;
    /* margin-top: 100px; */
    padding-top: 250px;
    font-size: 20px;
    line-height: 30px;

}

 #section_3{
    width: 100%;
    height: 750px;
 }

 .background_video{
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    /* z-index: 1; */
 }

.overview{
    position: relative;
    top:100px;
    z-index: 5;
    width: 50%;
    margin-left: 100px;

}

.overview >div> h2{
    font-size: 18px;
    margin-bottom: 5px;

}

.overview >div>h3{
    font-size: 32px;
    margin-top: 5px;
}

table{
    width: 100%;
    max-width: 520px;
    border-collapse: collapse;
}

tr{
    box-sizing: border-box;
    border-bottom: 1px solid rgba(255,255,255,.3);
}

td{
    font-size: 16px;
    text-align: left;
    padding: 20px 0;
}

td:last-child{
    text-align: right;
}

td>span{
    color: #868686;
}

#section_4{
    width: 100%;
    height: 800px;
}

h4{
    z-index: 3;
    position: relative;
    top: 420px;
    left: 10px;
    font-size: 36px;
}

#section_5{
    width: 100%;
    height: 700px;
    background-image: url(images/MerlinVac.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.merlin {
    padding-top: 30px;
    height: 140px;
}

p.sea_level,
p.vacuum {
    display: none;
}

input[type="radio"]:checked+.sea_level,
input[type="radio"]:checked+.vacuum  {
    display: block; 
}

input[type="radio"].sea_level,
input[type="radio"].vacuum {
    display: none;
}

input[type="radio"].sea_level:checked ~ label.sea_level,
input[type="radio"].vacuum:checked ~ label.vacuum {
    border-bottom: 1px solid white;
    padding-bottom: 2px;
    color: white;
}

label.sea_level,
label.vacuum {
    position: absolute;
    top: 100px;
    color: #868686;
}

label.vacuum {
    left: 100px;
}

.merlin p{
    width: 550px;
    line-height: 25px;
    font-size: 16px;
}
