
button{

    width: 800px;
    height: 100px;

    border-radius: 20px;
    position: absolute;
    left: calc(50% - 400px);
    top:calc(50% - 100px);
    text-align: center;

    box-sizing: border-box;
    border: none;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 5px 8px 9px rgba(0, 0, 0, 0.43);

    font-family: Roboto;font-weight: bold;
    font-size: 36px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    color: #361157;

}
