body{
    background-color: #34495e;
    color: white;
    font-family: "Verdana";
    font-size: small;
    font-weight: bold;
}
td{
    width: 200px;
   
}

figure,img{
    width: 100px;
}
table{
    width: 100%;
    background-color: #e74c3c;
}
table,
tbody, tr, td{
    border-spacing: 0;
    line-height: 20px;
}

td.empty {
    background-color: #34495e;
    width: 50px;
}
span{
    color: #f1c40f;
    font-weight:lighter;
    font-size: smaller;
}
h2{
    line-height: 0px;
}
