.planet_image{
    height: 420px;
    
}
figure.planet_image {
    position: relative;
    left: 700px;
    bottom: 478px;
}

.video{
    position: relative;
    bottom: 360px; 
}

div>div{
    position: relative;
    left: 530px;
    bottom: 650px;
}

p{
    line-height: 25px;
}

.last_paragraph{
    position: relative;
    bottom: 640px;
    width: 1200px;
}

.mars_info{
    position: relative;
    bottom: 630px;
    right: 40px;
}